In [ ]:
import pandas as pd
import pantab
 
df = pd.DataFrame(
  [
      [1, 2],
      [3, 4]
      #[1, 2, 3, 4., 5., True, pd.to_datetime('1/1/18'), 'foo'],
      #[6, 7, 8, 9., 10., True, pd.to_datetime('1/1/19'), 'foo']
  ], columns=['foo', 'bar']) #, 'baz', 'qux', 'quux', 'quuuz', 'corge', 'garply'])

In [ ]:
df

In [ ]:
pantab.frame_to_hyper(df, "foo.hyper", table="the_table")

In [ ]:
import pantab
df = pantab.frame_from_hyper("foo.hyper", table="the_table")

In [ ]:
df.head()

In [ ]:
from tableauhyperapi import HyperProcess, Telemetry, Connection, CreateMode, NOT_NULLABLE, NULLABLE, SqlType, \
TableDefinition, Inserter, escape_name, escape_string_literal, HyperException, TableName

In [ ]:
with HyperProcess(telemetry=Telemetry.DO_NOT_SEND_USAGE_DATA_TO_TABLEAU) as hyper:
    with Connection(hyper.endpoint, 'TrivialExample.hyper', CreateMode.CREATE_AND_REPLACE) as connection:
        
        connection.catalog.create_schema('Extract')
        
        example_table = TableDefinition( TableName('Extract','Extract'), [
            TableDefinition.Column('rowID', SqlType.big_int()),
            TableDefinition.Column('value', SqlType.big_int()),
        ])
        connection.catalog.create_table(example_table)
        
        with Inserter(connection, example_table) as inserter:
            #for i in range (1, 10):
            #    inserter.add_row(
            #        [ i, i ]
            #    )
            for row in df.values.tolist():
                inserter.add_row(row)
            inserter.execute()
        
    #  Connect to an existing .hyper file (CreateMode.NONE)
    with Connection(endpoint=hyper.endpoint, database='TrivialExample.hyper') as connection:        
        with connection.execute_query(query=f"SELECT * FROM {TableName('Extract', 'Extract')}") as result:
            rows = list(result)
            print(rows)